.federalist {
  fill: #1f77b4;
}
.anti-federalist {
  fill: #ff7f0e;
}
.adams {
  fill: #98df8a;
}
.anti-masonic {
  fill: #ff9896;
}
.anti-democrat-and-states-rights {
  fill: #8c564b;
}
.calhoun-nullifier,
.nullifier {
  fill: #e377c2;
}
.states-rights,
.ind-whig,
.whig,
.whig-and-democrat,
.states-rights-whig {
  fill: #f7b6d2;
}
.ind-republican-democrat,
.democrat-republican {
  fill: purple;
}
.democrat,
.jackson-democrat,
.democrat-and-anti-mason,
.van-buren-democrat,
.conservative-democrat,
.anti-lecompton-democrat,
.readjuster-democrat,
.tariff-for-revenue-democrat,
.united-democrat,
.war-democrat,
.ind-democrat,
.anti-monopolist,
.anti-monopoly-democrat,
.jefferson-democrat,
.popular-sovereignty-democrat {
  fill: SteelBlue;
}
.conservative {
  fill: #7f7f7f;
}
.readjuster {
  fill: #c7c7c7;
}
.union,
.union,
.union-labor,
.union-conservative,
.unconditional-unionist,
.constitutional-unionist,
.unionist {
  fill: #bcbd22;
}
.republican,
.liberal-republican,
.united-republican,
.progressive-republican,
.non-partisan-and-republican,
.ind-republican,
.ind-silver-republican,
.silver-republican,
.crawford-republican,
.crawford-republican,
.adams-clay-federalist,
.adams-clay-republican,
.conservative-republican,
.jackson-republican,
.jefferson-republican,
.national-republican {
  fill: FireBrick;
}
.free-soil,
.free-soil-democrat,
.free-soil-whig,
.anti-slavery,
.american,
.emancipationist,
.free-soil-american-and-democrat {
  fill: #dbdb8d;
}
.national-greenbacker,
.independent,
.populist,
.peoples,
.prohibitionist,
.progressive,
.socialist,
.fusionist,
.liberal,
.law-and-order,
.american-labor,
.farmer-labor,
.silver,
.liberty,
.pro-administration,
.crawford-federalist {
  fill: #aec7e8;
}
.jackson,
.jackson-federalist {
  fill: #c49c94;
}
.anti-jackson,
.opposition,
.anti-administration,
.anti-jackson-democrat {
  fill: #9467bd;
}
