/*** svg styles ***/
svg {
	font-family: sans-serif;
	font-size: 10px;
}

g.axis path {
	fill: none;
	stroke: #444;
	stroke-width: .5;
}

svg circle {
	stroke: #444;
	stroke-width: .5;
	fill: white;
}