<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/components/bootstrap/dist/css/bootstrap.min.css">
	{% for style in page.styles %}
	<link rel="stylesheet" type="text/css" href="{{ style }}">
	{% endfor %}
	
	{% if page.styles_ie %}
	<!--[if lte IE 8]-->
	{% for style in page.styles_ie %}
	<link rel="stylesheet" type="text/css" href="{{ style }}">
	{% endfor %}
	<!--[endif]-->
	{% endif %}
	{% for src in page.scripts %}
	<script src="{{ src }}" type="text/javascript"></script>
	{% endfor %}

</head>
<body>
{{ content }}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32005313-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>